{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}

<section class="page-header">
    <h1>Todos</h1>
</section>

<section class="card-container">
    <form
        action="{% url 'add_todo' %}"
        method="post"
        class="subsection-content"
        autocomplete="off"
    >
        {% csrf_token %}
        {{ todo_form.as_p }}
        <button type="submit" class="btn submit">Add Todo</button>
    </form>
    {% if todos %}
        {% for todo in todos %}
            <div class="card">
                <form action="{% url 'update_todo' %}" method="post" class="form-container">
                    {% csrf_token %}
                    <input
                        type="checkbox"
                        name="checked"
                        id="checked"
                        value="{{todo.checked}}"
                        onChange="this.form.submit()"
                    />
                    <input
                        type="text"
                        name="text"
                        id="text"
                        value="{{todo.text}}"
                        hidden
                    />
                </form>
                {% if todo.checked %}
                    <s><p>{{todo.text}}</p></s>
                {% else %}
                    <p>{{todo.text}}</p>
                {% endif %}
                <a href="{% url 'todo_delete' todo.id %}" class="btn danger">X</a>
            </div>
        {% endfor %}
    {% else %}
        <div class="subsection-content">
            <p>⚠️ You have no todos.</p>
        </div>
    {% endif %}
    {% if notes %}
        {% for note in notes %}
            <div class="card">
                <a href="{% url 'note_detail' note.id %}">
                    <h2>{{note.title}}</h2>
                </a>
            </div>
        {% endfor %}
    {% else %}
    <div class="subsection-content">
        <p>⚠️ You have no notes.</p>
    </div>
    {% endif %}
</section>

{% endblock %}
