{% extends 'base.html' %}
{% load static %}
{% block head %}
{% comment %} <link rel="stylesheet" href="{% static 'css/home.css' %}" /> {% endcomment %}
{% endblock %}
{% block content %}

<section class="logo-container">
    {% comment %} <div class="cat-container">
        <img src="{% static 'images/splash.svg' %}" alt="The Cat Collector Cat" />
    </div>
    <img src="{% static 'images/logotype.svg' %}" alt="Text reads: Cat Collector" /> {% endcomment %}
    <p>This is a test</p>
</section>

{% endblock %}
